/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .container {
        max-width: 1150px;
    }
    .middle-search input {
        width: 59%;
    }
    .heart-icon a {
        margin-right: 12px;
    }
    .main-menu ul li .mega-menu {
        width: 848px;
    }
    .block-icon {
        margin-right: 11px;
    }

}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

    /* header-middle */
    .nice-select {
        font-size: 13px;
        line-height: 44px;
        padding-left: 10px;
        padding-right: 33px;
    }
    .nice-select::after {
        margin-top: -3px;
        right: 10px;
    }
    .middle-search input {
        width: 52%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .bordered-btn {
        padding: 12px 16px;
        font-size: 16px;
    }
    .my-cart {
        float: right;
    }


    /* header bottom */

    .main-menu ul li {
        margin-right: 11px;
    }
    .main-menu ul li:last-child {
        margin-right: 0px;
    }
    .main-menu-icon {
        margin-left: 2px;
    }

    .main-menu ul li ul.submenu {
        width: 289px;
    }
    .main-menu ul li .mega-menu {
        left: -40%;
        width: 882px;
    }
    .main-menu ul li .mega-menu.new-arrival {
        left: -67%;
    }
    .main-menu ul li .mega-menu.pages {
        width: 337px;
    }
    .main-menu ul li ul.sub-categories li .categories-mega-menu,
    .main-menu ul li ul.sub-categories li .bags-categories {
        width: 642px;
    }

    /* block area */
    .block-icon {
        float: inherit;
    }


    /* Product Service Area */
    .product-service {
        height: 575px;
    }

    .single-product-pic {
        width: 90px;
    }
    .owl-carousel .owl-item .single-product-pic img {
        width: 90px;
        height: 100px;
        margin-top: 20px;
    }

    /* featured-products area */

    .featured-products-box .product-cart {
        left: 13%;
    }


    /* blog */
    .blog-title h4 a {
        font-size: 13px;
    }




}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

    /* header main area */

    .top-language ul li a {
        font-size: 12px;
    }
    .middle-search input {
        width: 53%;
    }
    .logo {
        box-shadow: none;
    }
    .cart-icon-service {
        float: right;
    }
    .header-bottom {
        margin-top: 35px;
    }

    /* block service area */

    .block-service {
        margin-bottom: 25px;
    }

    /* product-service-area */

    .product-service {
        height: 775px;
    }
    .owl-carousel .owl-item .single-product-picture img {
        height: 500px;
    }
    .arrivals-service {
        margin-top: 35px;
        height: 603px;
    }


    /* featured-products area */

    .featured-products-box .product-cart {
        left: 17%;
    }


    /* blog area */

    .blog-title h4 a {
        font-size: 15px;
    }
    .owl-carousel .owl-item .sponsor-logo-active img {
        width: 100%;
    }

    /* footer area */
    .footer-subscribe input {
        width: 231px;
    }
    .footer-subscribe a {
        padding: 14px 8px;
    }
    .footer-copy {
        text-align: center;
    }
    .payment-cart {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

 
/* small mobile :320px. */
@media (max-width: 767px) {

    /* header top */
    .top-register {
        margin-top: 20px;
        margin-bottom: 25px;
        text-align: center;
    }
    .top-register ul li a i {
        font-size: 15px;
    }
    .top-register ul li a {
        font-size: 16px;
    }
    .top-register::after {
        display: none;
    }

    /* header middle */

    .header-middle {
        margin-bottom: 30px;
    }
    .logo {
        box-shadow: none;
    }
    .bordered-btn {
        font-size: 18px;
        border-radius: 6%;
        width: 45px;
        height: 45px;
        padding: 0px;
        display: inline-block;
    }
    .my-cart ul li .product-list {
        width: 266px;
    }
    .my-cart {
        float: right;
    }

    /* block area */

    .block-icon i {
        font-size: 25px;
    }
    .block-icon {
        width: 55px;
        height: 55px;
        line-height: 58px;
    }
    .block-service {
        margin-bottom: 20px;
    }

    /* shop by categories */

    .main-heading-title h3 {
        font-size: 21px;
    }
    .shop-categories-active .owl-nav div {
        border-radius: 5px;
        margin-left: 0px;
    }
    .shop-categories-active .owl-nav .owl-next {
        margin-right: 0px;
    }


    /* product service */

    .product-service {
        height: 640px;
    }
    .arrivals-service {
        border-color: #e5e5e5;
        height: 666px;
        margin-top: 30px;
    }
    .single-product-pic {
        width: 100px;
    }
    .owl-carousel .owl-item .single-product-pic img {
        width: 100px;
        height: 115px;
    }
    .arrivals {
        padding-bottom: 30px;
    }

    /* shop area */
    .shop-now {
        margin-bottom: 20px;
    }

    /* featured-products area */

    .featured-products-active .owl-nav div {
        border-radius: 5px;
        margin-left: 0px;
    }
    .featured-products-active .owl-nav .owl-next {
        margin-right: 0px;
    }

    .arrivals-head h4 a {
        font-size: 13px;
    }

    /* testimonial area */

    .testimonial-content {
        padding: 20px 20px;
    }
    .testimonial-content p {
        font-size: 20px;
        text-align: justify;
    }
    .testimonial-active .owl-nav {
        display: none;
    }


    /* sponsor logo area */
    .sponsor-logo-active .owl-nav div {
        border-radius: 5px;
        margin-left: 0px;
    }
    .sponsor-logo-active .owl-nav .owl-next {
        margin-right: 0px;
    }

    /* footer top */

    .footer-list-item {
        margin-top: 40px;
    }

    /* footer middle */
    .footer-social {
        text-align: center;
    }
    .footer-middle {
        min-height: 230px;
    }
    .footer-social ul li a {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 17px;
    }
    .newsletter {
        float: inherit;
        display: inherit;
        text-align: center;
    }
    .footer-subscribe {
        margin-top: 20px;
    }
    .footer-subscribe input {
        width: 100%;
    }
    .footer-subscribe input {
        margin-bottom: 20px;
    }
    .footer-subscribe a {
        padding: 12px 20px;
    }

    /* footer bottom */

    .footer-copy {
        text-align: center;
    }

    .payment-cart {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .payment-cart ul li a img {
        width: 100%;
    }
 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
.top-register::after {
    display: none;
}
 
}
